.app {
  background: #209cee;
  padding: 30px;
  height: 100vh;
}

body {
  background-color: rgb(241, 241, 241);
}

.jumbotron {
  background-image: url("/src/blue-sunny-sky-1.jpg");
  font-family: "Quicksand", sans-serif;
  color: whitesmoke;
  background-size: cover;
}

.display-3 {
  font-weight: 575;
}
